/*Remember to change .container according to your container's selector*/
.container, .container img, .container .grdCover { position: relative; overflow: hidden; border: 0; }
.container { font-size: 0; }
.container img.grdWide { max-height: 100%; } /*Wide images*/
.container img.grdTall { max-width: 100%; } /*Tall images*/
.container img.grdSquare { max-width: 100%; max-height: 100%; } /*Square images*/
.container img.grdFlexSquare { max-width: 100%; max-height: inherit; }
.container img.grdForce { min-height: 100%; min-width: 100%; } /*Forced size images*/
.container img.grdFullView { max-width: 100%; max-height: inherit; } /*View full image*/
.container .grdCover { display: block; width: 80%; height: 80%; padding: 10%; background: black; background: rgba(0,0,0,0.7); color: white; font-size: 14px; position: absolute; left: 0; visibility: hidden; }

#isHeightAutoStage { visibility: hidden; height: 10px; }
